<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>-->
    <script type="text/javascript">
        window.location.href="https://3752906148-ls.k2kqv858qm.com/login"
    </script>
</head>
<body>
    <iframe id="iFrame1" name="iFrame1" width="100%" height="800px" frameborder="0" src="https://3752906148-ls.k2kqv858qm.com/login"></iframe>
    <!-- <iframe src="https://3752906148-ls.k2kqv858qm.com"></iframe> -->
</body>

</html>